<div class="container border w-auto mt-5 pb-5">
  <div class="row">
    <div class="col text-center mb-4 display-3">
      <img src="burger2.png">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
  <div class="row">
    <div class="form col-sm-4">

    </div>
    <div class="form col-sm-4 d-flex text-center">
      <form class="create-form">
        <div class="form-group">


          <input type="text" id="burger">
            </div>
          <button type="submit" class="submit btn btn-primary btn-sm">Add Burger</button>
      
      </form>


    </div>
    <div class="form col-sm-4">

    </div>
  </div>
  <div class="row">

    {{!-- burger to be devoured --}}
    <div class="col-sm-3 text-center  m-5">
      {{#each burger}}
      {{#unless devoured}}
      <button class="btn-lg btn-block btn-light border-primary devour" disabled><img src="./burger2.png" width="30px"
          height="30px">{{this.burger_name}}</button>
      {{/unless}}
      {{/each}}
    </div>

    {{!-- devour button --}}
    <div class="col-sm-2 text-center  m-5">
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <button type="button" class="devoured btn btn-warning btn-lg " data-id="{{this.id}}">Devour</button>
        {{/unless}}
        {{/each}}
      </ul>
    </div>


{{!-- <button type="button" class="devour btn btn-success"
                                    data-id="{{this.id}}">Devour!</button> --}}



    {{!-- burger devoured --}}
    <div class="col-sm-3 text-center  m-5">
      <ul>
        {{#each burger}}
        {{#if devoured}}
        <button class="btn-lg btn-block btn-light border-primary" disabled><img src="./burger2.png" width="30px"
            height="30px">{{this.burger_name}}</button>
        {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
</div>