<div class="container main w-auto mt-5 pb-5 ">
  <div class= "container ">
  <div class="row">
    <div class="col text-center mb-2 display-3">
      <img class="shadow-lg rounded-circle" src="burger2.png">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
  <div class="row">
    <div class="form col-sm-4">

    </div>
    <div class="form col-sm-4">
      <form class="create-form">

        <input class="form-control text-center" type="text" id="burger">
        <div class=" d-flex justify-content-center">
          <button type="submit" class="submit btn btn-primary btn-sm mt-2  d-flex justify-content-center">Add
            Burger</button>
        </div>

      </form>
    </div>
    <div class="form col-sm-4">

    </div>
  </div>
  <div class="row">

    {{!-- burger to be devoured --}}
    <div class="col-sm-3 text-center  ml-5">
      <h4>Ready to devour</h4>
      {{#each burger}}
      {{#unless devoured}}
      <button class="btn-lg btn-block btn-light border-primary devour" disabled><img src="burger2.png" width="30px"
          height="30px">{{this.burger_name}}</button>
      {{/unless}}
      {{/each}}
    </div>

    {{!-- devour button --}}
    <div class="col-sm-2 text-center  m-5">
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <button type="button" class="devoured btn btn-warning btn-lg mb-2 mt-0 pl-5 pr-5" data-id="{{this.id}}">Devour</button>
        {{/unless}}
        {{/each}}
      </ul>
    </div>


    {{!-- burger devoured --}}
    <div class="col-sm-3 text-center  mr-1">
      <h4>Devoured</h4>
      <ul>
        {{#each burger}}
        {{#if devoured}}
        <button class="btn-lg btn-block btn-light border-primary ml-5" disabled><img src="./burger2.png" width="30px"
            height="30px">{{this.burger_name}}</button>
        {{/if}}
        {{/each}}
      </ul>

    </div>
  </div>
  </div>
</div>